/* 仅让首页正文两端对齐 */
.home .page__content p {
  text-align: justify;
}


.highlight-box {
  border-left: 5px solid #003366;   /* 深蓝边框 */
  background-color: #f8f9fa;        /* 浅灰底色 */
  padding: 15px 20px;
  border-radius: 8px;
  margin: 20px 0;
  text-align: justify;
}

.highlight-box p {
  margin-bottom: 8px;
}
